{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="main">
    <div class="container">
        <h1 class="title_header">Event Details</h1>
        <div class="main_body px-4">
            <div class="row">
                <div class="col-lg-6">
                    <p class="fw-bold lead">Event Name: <span class="lead">{{event.name}}</span></p>
                </div>
                <div class="col-lg-6">
                    <p class="fw-bold lead">Event Date: 
                        <span class="lead">
                            {% if event.event_date is not null %}
                            {{event.event_date|date:"D d M Y"}}
                            {% else %}
                            TBD
                            {% endif %} 
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <p class="fw-bold lead">Event Details: 
                    <span class="lead">
                        {% if event.desc is not null %}
                        {{event.desc}}
                        {% else %}
                        TBD
                        {% endif %} 
                    </span>
                </p>
            </div>
            <div class="row text-lg-center">
                <p class="text-success fw-bold lead">{{token_status}}</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p class="fw-bold lead">Token Distribution Start: 
                        <span class="lead">
                            {% if event.token_dist_start is not null %}
                            {{event.token_dist_start}}
                            {% else %}
                            TBD
                            {% endif %} 
                        </span>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="fw-bold lead">Token Distribution End: 
                        <span class="lead">
                        {% if event.token_dist_end is not null %}
                        {{event.token_dist_end}}
                        {% else %}
                        TBD
                        {% endif %} 
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <p class="lead text-lg-center">
                    <span class="fw-bold">Distribution Place: </span>
                    {% if event.distribution_place is not null %}
                    {{event.distribution_place}}
                    {% else %}
                    TBD
                    {% endif %} 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}