{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="main">
    <div class="container">
        <h1 class="title_header">Scan Barcode</h1>
        <div class="main_body">
            <div class="scanner">
                <div id="interactive" class="viewport"></div>
                <div class="btns">
                    <button id="scan_btn" data-status="false" class="btn btn-primary">Scan now</button>
                    <button id="stop_btn" class="btn btn-danger">Stop scan</button>
                </div>
                <div class="lead text-center">Status: <span id="v" class="fw-bold">Click Scan Now</span></div>
                <div class="svg_output">
                    <svg id="barcode"></svg>
                </div>
                <div class="validity_check text-center" onclick="check_barcode()">
                   <p> Click Here to check validity of <span id="barcode_res"></span> </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/quagga.js' %}"></script>
    <script src="{% static 'js/js_barcode.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}